.header{
    background-color: blue;
    text-align: center;
    padding: 20px;
}
nav{
    align-items: center;
}
.topnav{
    overflow: hidden;
    background-color: turquoise;
}
.topnav a{
    float:left;
    display:block;
    color: #f2f2f2;
}